
<h1><%=@public_recipe_details.name%></h1>
<p>Preparation time : <%=@public_recipe_details.preparation_time %> hour</p>
<p>Cooking time : <%=@public_recipe_details.cooking_time%> hour</p>
<p>Step go here...</p>
<p><%=@public_recipe_details.user.name%><p>
<div></div>
<%= render partial: "recipe_food/recipe_food_table" %>
